<div class="container">
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="sendRegister()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        formControlName="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        [ngClass]="{'is-invalid': emailNotValid, 'is-valid': emailValid}"
      />
      <div *ngIf="emailNotValid" class="alert alert-danger">Email requerido en arroba</div>
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3" formGroupName="passwords" [ngClass]="crossPasswordsNotValid ? 'bg-warning' : 'bg-success'">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" formControlName="password" [ngClass]="{'is-invalid': password1NotValid, 'is-valid': passwordValid}" />
      <div *ngIf="password1NotValid" class="alert alert-danger">Password es requerido y debe tener al menos 8 caracteres</div>
      <label for="exampleInputPassword2" class="form-label">Repeat Password</label>
      <input type="password" class="form-control" id="exampleInputPassword2" name="password2" formControlName="password2" [ngClass]="{'is-invalid': password2NotValid, 'is-valid': passwordValid}" />
      <div *ngIf="password2NotValid" class="alert alert-danger">Password es requerido y debe coincidir</div>
      <div *ngIf="crossPasswordsNotValid" class="alert alert-danger">Passwords no coinciden</div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <div class="alert alert-danger">{{error}}</div>
  </form>
</div>